<a href="https://colab.research.google.com/github/vinaylanjewar/SQL_Case_Study_2_Pizza-Runner-/blob/main/VINAY_SQL__Case_Study_2_Pizza_Runner.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## **Case Study 2 - Pizza Runner**

## **Introduction**

### Did you know that over 115 million kilograms of pizza is consumed daily worldwide??? (Well according to Wikipedia anyway…)

### Danny was scrolling through his Instagram feed when something really caught his eye - “80s Retro Styling and Pizza Is The Future!”

### Danny was sold on the idea, but he knew that pizza alone was not going to help him get seed funding to expand his new Pizza Empire - so he had one more genius idea to combine with it - he was going to Uberize it - and so Pizza Runner was launched!

### Danny started by recruiting “runners” to deliver fresh pizza from Pizza Runner Headquarters (otherwise known as Danny’s house) and also maxed out his credit card to pay freelance developers to build a mobile app to accept orders from customers.

## **Available Data**

### Because Danny had a few years of experience as a data scientist - he was very aware that data collection was going to be critical for his business’ growth.

### He has prepared for us an entity relationship diagram of his database design but requires further assistance to clean his data and apply some basic calculations so he can better direct his runners and optimise Pizza Runner’s operations.

### All datasets exist within the pizza_runner database schema - be sure to include this reference within your SQL scripts as you start exploring the data and answering the case study questions.

![P1.PNG]()

### **Table 1: runners**

### The runners table shows the registration_date for each new runner

### **Table 2: customer_orders**

### Customer pizza orders are captured in the customer_orders table with 1 row for each individual pizza that is part of the order.

### The pizza_id relates to the type of pizza which was ordered whilst the exclusions are the ingredient_id values which should be removed from the pizza and the extras are the ingredient_id values which need to be added to the pizza.

### Note that customers can order multiple pizzas in a single order with varying exclusions and extras values even if the pizza is the same type!

### The exclusions and extras columns will need to be cleaned up before using them in your queries.

### **Table 3: runner_orders**

### After each orders are received through the system - they are assigned to a runner - however not all orders are fully completed and can be cancelled by the restaurant or the customer.

### The pickup_time is the timestamp at which the runner arrives at the Pizza Runner headquarters to pick up the freshly cooked pizzas. The distance and duration fields are related to how far and long the runner had to travel to deliver the order to the respective customer.

### There are some known data issues with this table so be careful when using this in your queries - make sure to check the data types for each column in the schema SQL!

### **Table 4: pizza_names**

### At the moment - Pizza Runner only has 2 pizzas available the Meat Lovers or Vegetarian!

### **Table 5: pizza_recipes**

### Each pizza_id has a standard set of toppings which are used as part of the pizza recipe.

### **Table 6: pizza_toppings**

### This table contains all of the topping_name values with their corresponding topping_id value

In [ ]:
!pip install pymysql
import pandas as pd
from sqlalchemy import create_engine
from sqlalchemy.pool import NullPool
def mysql(query:'Write the query here .'):
    '''
    This function fetches data from database and returns the result.
    '''
    try:
        engine_db = create_engine('mysql+pymysql://almafolk:8l39zk60q@learning-activity.cejogcrmn6il.ap-south-1.rds.amazonaws.com:3306/assignment', poolclass=NullPool )
        conn = engine_db.connect()
        # Reading Data
        df = pd.read_sql_query(query, conn)

        #if your connection object is named conn
        if not conn.closed:
            conn.close()
        engine_db.dispose()
        return df
    except Exception as e:
        print(e)

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Collecting pymysql
  Downloading PyMySQL-1.0.2-py3-none-any.whl (43 kB)
     |████████████████████████████████| 43 kB 2.1 MB/s
Installing collected packages: pymysql
Successfully installed pymysql-1.0.2

### These are some questions that can be answered with the help of SQL.

### 1.How many pizzas were ordered?

In [ ]:
mysql('''SELECT count(distinct order_id) As no_of_pizzas_ordered FROM customer_orders;''')

   no_of_pizzas_ordered
0                    10

### 2. How many unique customer orders were made?

In [ ]:
mysql('''SELECT c.customer_id, COUNT(c.order_id) AS unique_orders
         FROM runner_orders AS run
         JOIN customer_orders AS c  
         ON run.order_id = c.order_id
         GROUP BY c.customer_id;''')

   customer_id  unique_orders
0          101              3
1          102              3
2          103              4
3          104              3
4          105              1

### 3.How many successful orders were delivered by each runner?

In [ ]:
mysql('''SELECT COUNT(order_id) AS successful_orders
         FROM runner_orders
         WHERE duration != 'null' ;''')

   successful_orders
0                  8

### 4.How many of each type of pizza was delivered?

In [ ]:
mysql('''SELECT c.pizza_id, COUNT(c.pizza_id) AS no_of_delivered_pizza
         FROM customer_orders as c 
         Join runner_orders as ro 
         On c.order_id = ro.order_id
         WHERE ro.duration != 'null'
         group by c.pizza_id;''')

   pizza_id  no_of_delivered_pizza
0         1                      9
1         2                      3

### 5.How many Vegetarian and Meatlovers were ordered by each customer?

In [ ]:
mysql('''SELECT c.customer_id ,n.pizza_name ,COUNT(n.pizza_name) AS count_of_pizza_ordered
         FROM customer_orders as c 
         Join pizza_names as n
         on c.pizza_id=n.pizza_id
         GROUP BY n.pizza_name, c.customer_id
         order by c.customer_id;''')

   customer_id  pizza_name  count_of_pizza_ordered
0          101  Meatlovers                       2
1          101  Vegetarian                       1
2          102  Meatlovers                       2
3          102  Vegetarian                       1
4          103  Meatlovers                       3
5          103  Vegetarian                       1
6          104  Meatlovers                       3
7          105  Vegetarian                       1

### 6.What was the maximum number of pizzas delivered in a single order?

In [ ]:
mysql('''SELECT COUNT(pizza_id) as max_no_of_pizzas_in_single_order
         FROM customer_orders
         GROUP BY order_id
         ORDER BY max_no_of_pizzas_in_single_order DESC
         LIMIT 1;''')

   max_no_of_pizzas_in_single_order
0                                 3

### 7.How many pizzas were delivered that had both exclusions and extras?

In [ ]:
mysql('''SELECT c.order_id, 
	SUM(CASE
		WHEN exclusions IS NOT NULL AND extras IS NOT NULL THEN 1
		ELSE 0
		END) AS no_of_pizza_delivered_w_exclusions_extras
FROM customer_orders AS c
JOIN runner_orders AS r
	ON c.order_id = r.order_id
WHERE r.distance >= 1 
	AND exclusions <> ' ' 
	AND extras <> ' ' 
GROUP BY c.order_id, c.pizza_id''')

   order_id  no_of_pizza_delivered_w_exclusions_extras
0         1                                        1.0
1         2                                        1.0
2         3                                        1.0
3         4                                        2.0
4         4                                        1.0
5         5                                        1.0
6         7                                        1.0
7         8                                        1.0
8        10                                        2.0

### 8.What was the total volume of pizzas ordered for each hour of the day?

In [ ]:
mysql('''SELECT HOUR(order_time) AS hour_of_the_day, COUNT(order_id) AS total_pizzas_ordered
FROM customer_orders
GROUP BY HOUR(order_time);''')

   hour_of_the_day  total_pizzas_ordered
0               18                     3
1               19                     1
2               23                     3
3               13                     3
4               21                     3
5               11                     1

### 9.What was the volume of orders for each day of the week?

In [ ]:
mysql('''SELECT DAY(order_time) AS day_of_week, COUNT(order_id) AS total_pizzas_ordered
FROM customer_orders
GROUP BY DAY(order_time)''')

   day_of_week  total_pizzas_ordered
0            1                     2
1            2                     2
2            4                     3
3            8                     3
4            9                     1
5           10                     1
6           11                     2

### 10.What was the average time in minutes it took for each runner to arrive at the Pizza Runner HQ to pickup the order?

In [ ]:
mysql('''WITH time_taken_cte AS
      ( SELECT a.order_id,runner_id, a.order_time, b.pickup_time, 
        round(avg(timestampdiff(minute,order_time, pickup_time)),2) AS pickup_minutes
        FROM customer_orders AS a
        JOIN runner_orders AS b
        ON a.order_id = b.order_id
        WHERE b.distance != 0
        GROUP BY a.order_id, a.order_time, b.pickup_time )
        SELECT runner_id,
        AVG(pickup_minutes) AS avg_mins_taken_to_arrive_HQ
        FROM time_taken_cte
        WHERE pickup_minutes > 1
        group by  runner_id''')

   runner_id  avg_mins_taken_to_arrive_HQ
0          1                    14.000000
1          2                    19.666667
2          3                    10.000000

### 11.Is there any relationship between the number of pizzas and how long the order takes to prepare?

In [ ]:
mysql('''WITH prep_time_cte AS (
         SELECT a.order_id, COUNT(a.order_id) AS pizza_order, a.order_time, b.pickup_time, 
         avg((timestampdiff(minute, order_time, pickup_time)))AS prep_time_minutes
         FROM customer_orders AS a
         JOIN runner_orders AS b
         ON a.order_id = b.order_id
         WHERE b.distance != 0
         GROUP BY a.order_id, a.order_time, b.pickup_time )
         SELECT pizza_order as no_pizza_ordered, 
         AVG(prep_time_minutes) AS avg_time_to_prepare
         FROM prep_time_cte
         WHERE prep_time_minutes > 1
         GROUP BY pizza_order''')

   no_pizza_ordered  avg_time_to_prepare
0                 1                 12.0
1                 2                 18.0
2                 3                 29.0

### 12.What was the difference between the longest and shortest delivery times for all orders?

In [ ]:
mysql('''with cte as(select a.order_id, order_time, pickup_time, timestampdiff(minute, order_time,pickup_time) as TimeDiff1
         from customer_orders as a
         inner join runner_orders as b
         on a.order_id = b.order_id
         where distance != 0
         group by a.order_id, order_time, pickup_time)
         select max(TimeDiff1) - min(TimeDiff1) as diff_longest_shortest_delivery_time from cte;''')

   diff_longest_shortest_delivery_time
0                                   19

### 13.What was the average speed for each runner for each delivery and do you notice any trend for these values?

In [ ]:
mysql('''with cte as ( SELECT runner_id, order_id, (distance*1000) as distance_meter, duration, round(distance *1000/duration,1) as avg_speed
                       FROM runner_orders
                       WHERE distance != 0
                       GROUP BY runner_id, order_id)
                       SELECT runner_id,a.order_id,COUNT(b.pizza_id) AS pizza_count,distance_meter,duration,avg_speed
                       FROM cte AS a
                       JOIN customer_orders AS b
                       ON a.order_id = b.order_id
                       GROUP BY duration
                       ORDER BY runner_id,pizza_count''')

   runner_id  order_id  pizza_count  distance_meter    duration  avg_speed
0          1         1            1         20000.0  32 minutes      625.0
1          1         2            1         20000.0  27 minutes      740.7
2          1         3            2         13400.0     20 mins      670.0
3          1        10            2         10000.0   10minutes     1000.0
4          2         7            1         25000.0      25mins     1000.0
5          2         8            1         23400.0   15 minute     1560.0
6          2         4            3         23400.0          40      585.0
7          3         5            1         10000.0          15      666.7

### 14.For each customer, how many delivered pizzas had at least 1 change and how many had no changes?

In [ ]:
mysql('''select customer_orders.customer_id, 
         sum(case when (exclusions is not null or exclusions = null) or (extras is not null or extras = null) then 1
         else 0
         end )as with_cnages,
         sum(case when (exclusions is null or exclusions = null) or (extras is null or extras = null) then 1
         else 0 end ) as no_changes
         from customer_orders
         inner join runner_orders
         on runner_orders.order_id = customer_orders.order_id
         where runner_orders.distance != 0
         group by customer_orders.customer_id;''')

   customer_id  with_cnages  no_changes
0          101          2.0         0.0
1          102          3.0         1.0
2          103          3.0         0.0
3          104          3.0         0.0
4          105          1.0         0.0

### 15.How many runners signed up for each 1 week period? (i.e. week starts 2021-01-01)

In [ ]:
mysql('''SELECT runner_id,concat('Week ',((case when WEEKOFYEAR(registration_date) >= 53 then 0 
         else WEEKOFYEAR(registration_date) end)+1)) as 'runner_signups' from runners''')

   runner_id runner_signups
0          1         Week 1
1          2         Week 1
2          3         Week 2
3          4         Week 3

### 16.What was the average distance travelled for each customer?

In [ ]:
mysql('''with cte as (select a.customer_id, round(avg(b.distance),1) as avd_distance
         from customer_orders as a
         inner join runner_orders as b
         on a.order_id = b.order_id
         where b.distance != 0
         group by a.customer_id)
         select * from cte;''')

   customer_id  avd_distance
0          101          20.0
1          102          16.7
2          103          23.4
3          104          10.0
4          105          25.0

### 17.What is the successful delivery percentage for each runner?

In [ ]:
mysql('''with cte as(select runner_id, sum(case
         when distance != 0 then 1
         else 0
         end) as percsucc, count(order_id) as TotalOrders
         from runner_orders
         group by runner_id)
         select runner_id,round((percsucc/TotalOrders)*100) as Successfulpercentage 
         from cte
         order by runner_id;''')

   runner_id  Successfulpercentage
0          1                 100.0
1          2                  75.0
2          3                  50.0